body {
	background-color: #252525;
	height: 100%;
	margin: 0;
  padding-top: 100px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 20px;
}

.buyButton1 {
  box-shadow: 0px 7px 10px -5px #353535;
  background: linear-gradient(to top, #2675EB 50%, #51B8FE 100%);
  border-radius: 20px;
  border: 2px solid #FAFAFA;
  cursor: pointer;
  color:#ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 50px;
  text-decoration: none;
}

.buyButton1:hover {
  box-shadow: 0px 7px 10px -5px #202020;
  background: linear-gradient(to top, #2675EB 20%, #51B8FE 100%);
}

.buyButton1:active {
  position: relative;
  top: 2px;
}

.buyButton2 {
  box-shadow: 0px 7px 10px -5px #353535;
  background: linear-gradient(to top, #365BFE 50%, #C841FE 100%);
  border-radius: 20px;
  border: 2px solid #FAFAFA;
  cursor: pointer;
  color:#ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 50px;
  text-decoration: none;
}

.buyButton2:hover {
  box-shadow: 0px 7px 10px -5px #202020;
  background: linear-gradient(to top, #365BFE 20%, #C841FE 100%);
}

.buyButton2:active {
  position: relative;
  top: 2px;
}

.fixed-header {
	background: -webkit-gradient(linear, center top, center bottom, from(#404040), to(#2A2A2A));
	width: 100%;
  height: auto;
	justify-content: center;
	font-size: 30px;
	-webkit-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.50);
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.50);
  top: 0;
  position: fixed;
  z-index: 99999;
}

.footer {
  background: -webkit-gradient(linear, center top, center bottom, from(#404040), to(#151515));
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  min-height: 100%;
}

.card-bg-1 {
	background: -webkit-gradient(linear, center bottom, center top, from(#403AAA), to(#3495FE));
	width: auto;
	height: 50%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 16px;
	margin-left: 64px;
  margin-right: 64px;
  padding: 32px;
	-webkit-box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
	-moz-box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
	box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
}

.card-bg-2 {
  background: -webkit-gradient(linear, center bottom, center top, from(#285BFE), to(#53A8FE));
  width: auto;
  height: 50%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 64px;
  margin-right: 64px;
  padding: 32px;
  -webkit-box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
  -moz-box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
  box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
}

.card-bg-3 {
  background: -webkit-gradient(linear, center bottom, center top, from(#3744FE), to(#C841FE));
  width: auto;
  height: 50%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 128px;
  margin-left: 64px;
  margin-right: 64px;
  padding: 32px;
  -webkit-box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
  -moz-box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
  box-shadow: 5px 5px 35px -8px rgba(0,0,0,0.30);
}

.card-bg-1:hover {
	-webkit-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
	-moz-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
	box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
}

.card-bg-2:hover {
  -webkit-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
  -moz-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
  box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
}

.card-bg-3:hover {
  -webkit-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
  -moz-box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
  box-shadow: 10px 10px 35px -4px rgba(0,0,0,0.50);
}

@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.text-centered {
	color: #FFFFFF;
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
}

.text-left {
  color: #FFFFFF;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
}

.text-header {
	color: #FFFFFF;
	text-align: center;
	font-family: "Quicksand", sans-serif;
}

.text-footer {
  color: #FFFFFF;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.fade-in-bck {
  -webkit-animation: fade-in-bck 1.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-bck 1.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.focus-in-contract {
	-webkit-animation: focus-in-contract 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: focus-in-contract 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}